security:
    encoders:
        App\Entity\User:
            algorithm: auto

    providers:
        from_datebase:
            entity:
                class: App\Entity\User
                property: email
    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false
        main:
            anonymous: lazy
            provider: from_datebase
            form_login:
                login_path: security.login
                check_path: security.login
                default_target_path: admin_quotation
            logout:
                path: /logout
                target: /

    access_control:
        - { path: ^/admin, roles: ROLE_ADMIN }
