vich_uploader:
    db_driver: orm

    mappings:
        quotation_image:
            uri_prefix: /images/quotations
            upload_destination: '%kernel.project_dir%/public/images/quotations'
            namer: 
                service: Vich\UploaderBundle\Naming\UniqidNamer
        advice_image:
            uri_prefix: /images/advices
            upload_destination: '%kernel.project_dir%/public/images/advices'
            namer: 
                service: Vich\UploaderBundle\Naming\UniqidNamer
            