{# templates/pages/notice.html.twig #}
{% extends 'base.html.twig' %}

{% block metaDescription %}Mentions légales{% endblock metaDescription %}
{% block robots %}index,follow{% endblock robots %}
{% block title %}Mentions légales | RCP Electronic{% endblock %}

{% block body %}
<section class="legals container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-h1 h1-sm-device">Mentions légales</h1>
            <div class="py-5">
                <h2>Informations RCP Electronic :</h2>
                <p>
                    Dénomination : Monsieur Julien Canessa<br>
                    Auto entreprise immatriculée le 16/03/2018<br>
                    Siège social : RCP Electronic 175 rue Chanoine Bouisson, 83200 TOULON, France<br>
                    Téléphone : 07 82 30 02 23<br>
                    Mail : contact@rcp-electronic.fr<br>
                    SIRET : 838 374 692 000 13<br>
                    APE : 3313Z (Réparation de matériels électroniques et optiques)
                </p>
            </div>
            <div class="pb-5">
                <h2>Conditions générales de service :</h2>
                <p>
                    Prestations d’action de formation<br>
                    Prestations d’accompagnement<br>
                    Règlement intérieur
                </p>
            </div>
            <div class="pb-5">
                <h2>Site internet : https://www.rcp-electronic.fr</h2>
                <p>
                    Hébergeur : o2swich, 222-224 Boulevard Gustave Flaubert, 63000 Clermont-Ferrand, France<br>
                    Développement Web : Agence Adveris
                </p>
            </div>
            <div class="pb-5">
                <h2>Règlement général européen pour la protection des données à caractère personnel (RGPD)</h2>
                <p>
                    Direction de la publication et Responsable du traitement des données :<br>
                    Julien Canessa – contact@rcp-electronic.fr
                </p>
            </div>
            <div class="pb-5">
                <h2>Traitement des données collectées :</h2>
                <p>
                    Les données collectées dans le cadre du formulaire de contact sont traitées dans un objectif
                    commercial.<br>
                    Les données collectées dans le cadre de l’envoi de notre questionnaire de satisfaction, à l’issue ou
                    en cours de réalisation d’une prestation de service, sont traitées dans un objectif d’amélioration
                    de nos services et sont à destination de la personne en charge du suivi qualité.<br>
                    Ces données sont conservées dans le cadre de l’exécution de la prestation et/ou la durée nécessaire
                    à la finalité des traitements, pour une durée de trois ans à compter de la date de fin d’exécution
                    de la prestation, plus l’année en cours, pour tout bénéficiaire de nos prestations.<br>
                    Ce traitement des données ne prévoit pas une prise de décision automatisée et ne fait pas l’objet
                    d’un transfert hors UE.
                </p>
            </div>
            <div class="pb-5">
                <h2>RCP Electronic s’engage à ne pas vendre, louer ou céder ces données à des tiers.</h2>
                <p>
                    RCP Electronic peut avoir recours à des sous-traitants, toute société ou entité juridique amenée à
                    traiter ces données pour le traitement de tout ou partie des données, dans la limite nécessaire à
                    l’accomplissement de leurs prestations : une clause de confidentialité et de respect des engagements
                    pris par RCP Electronic est annexée à toute prestation externalisée.
                </p>
            </div>
            <div class="pb-5">
                <h2>Cookies :</h2>
                <p>
                    Nous utilisons des cookies pour vous garantir la meilleure expérience possible sur notre site web.
                    <br>
                    Ils ne sont pas conservés au-delà de 13 mois et ne sont pas prorogés lors des nouvelles visites.
                </p>
            </div>
            <div class="pb-5">
                <h2>Droits du visiteur et notification :</h2>
                <p>
                    Toutes les données collectées sont traitées et conservées conformément à la réglementation
                    applicable. Ainsi, le visiteur dispose d’un droit d’interrogation, d’accès, de rectification,
                    d’opposition et de suppression ou de portabilité, qu’il peut exercer par courrier postal ou
                    électronique à RCP Electronic. Les demandes devront être accompagnées d’une copie d’un titre
                    d’identité en cours de validité.<br>
                    Toute violation de données sera notifiée à l’autorité de contrôle, accompagnée d’une notification
                    individuelle à l’ensemble des personnes concernées, dans les meilleurs délais et conformément à la
                    réglementation en vigueur. Cette notification contiendra la nature de la violation, les coordonnées
                    du délégué à la protection des données, les conséquences et les mesures prises.
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}