{# templates/admin/quotation.html.twig #}
{% extends 'admin/base.html.twig' %}

{% block title %}Conseils{% endblock %}

{% block body %}
    <div class="container">
        <h1>Conseils</h1>
    </div>
{% endblock %}