{# templates/admin/quotation.html.twig #}
{% extends 'admin/base.html.twig' %}

{% block title %}Rendez-vous{% endblock %}

{% block body %}
    <div class="container">
        <h1>Rendez-vous</h1>
    </div>
{% endblock %}