{# templates/admin/contact.show.html.twig #}
{% extends 'admin/base.html.twig' %}

{% block title %}Rendez-vous{% endblock %}

{% block body %}
<div class="container">
    <h3 class="pt-3 h3-admin"><img src="{{ asset('images/calendar.svg') }}" width="26" alt="Rendez-vous"> Rendez-vous - N°: 1 <span class="badge badge-success ml-3">Nouveau</span></h3>
    <div class="row mt-3">
        <div class="col-lg-5 my-3">
            <ul class="list-group">
                <li class="list-group-item">Nom : <span class="font-weight-bold ml-2">Cristophe Lambert</span></li>
                <li class="list-group-item">Entreprise : 	<span class="font-weight-bold ml-2">General Electrique</span></li>
                <li class="list-group-item">Email : <span class="font-weight-bold ml-2">c.lambert@general-electrique.fr</span></li>
                <li class="list-group-item">Téléphone : <span class="font-weight-bold ml-2">0132456567</span></li>    
                <li class="list-group-item active">Rendez-vous le : <span class="font-weight-bold ml-2">18-09-2020 à 15h00</span></li>   
            </ul>
        </div>
        <div class="col-lg-7 my-3">
            <div class="message-client">
                <div class="container">
                    Demande reçu le : <span class="badge badge-primary mb-4">18-09-2020</span>
                    <h3 class="pb-3">Message du client : </h3>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hiddensd dsdsd saezr zerr rzrar ghghgf fff.</p>
                </div>
            </div>
            <div class="float-right mb-5">
                <div class="d-flex mt-3">
                    <div class="p-2">
                        Statut :
                    </div>
                    <form class="">
                        <div class="form-group">
                            <select class="custom-select">
                                <option selected></option>
                                <option value="0">Nouveau</option>
                                <option value="1">En cours</option>
                                <option value="2">Terminié</option>
                                <option value="3">Annulé</option>
                            </select>   
                        </div>
                    </form>
                </div>
            </div>
        </div>    
    </div>
</div>
{% endblock %}